<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- The fav icon -->
        <link rel="shortcut icon" th:href="@{images/favicon.ico}">
        <title>Change Password</title>
    </head>
    <body>
        <section class="material-half-bg">
            <div class="cover"></div>
        </section>
        <section class="login-content">
            <div class="logo">
                <h1>ODK and DHIS 2</h1>
            </div>
            <div class="login-box">
                    <form class="login-form" th:action="@{/changePassword}"
                              th:object="${ourUser}" method="post" action="#">
                    <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>CHANGE PASSWORD</h3>
                    <div class="form-group">
                        <label class="control-label">CURRENT PASSWORD</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Current Password" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label">NEW PASSWORD</label>
                        <input class="form-control" type="password" name="userPassword2" id="userPassword2" placeholder="New Password" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label">CONFIRM NEW PASSWORD</label>
                        <input class="form-control" type="password" name="confirmuserPassword2" id="confirmuserPassword2" placeholder="Confirm Password" required>
                    </div>

                    <div class="form-group btn-container">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SUBMIT</button>
                    </div>
                </form>

                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                       <p th:text="${param.error}"></p>
                    </div>
                </div>
                <div th:if="${param.changed}">
                    <div class="alert alert-info">
                        Password Changed successfully. Redirecting !!!
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="wait-dialog" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-body">
                <p class="text-center masked-bg">
                    <img th:src="@{images/wait.gif}" alt="Please wait..." />
                    <br/>Please wait...<br />
                    <a onclick="stop_wait();" class="wait-cancel">cancel</a>
                </p>
            </div>
        </div>
        <!-- Essential javascripts for application to work-->
        <script th:src="@{js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{js/popper.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
        <script th:src="@{js/main.js}"></script>
        <script th:src="@{js/validator.js}"></script>
        <!-- The javascript plugin to display page loading on top-->
        <script th:src="@{js/plugins/pace.min.js}"></script>
        <script th:src="@{js/form_handling.js}"></script>
        <script type="text/javascript">
            // Login Page Flipbox control
            $('.login-content [data-toggle="flip"]').click(function () {
                $('.login-box').toggleClass('flipped');
                return false;
            });
        </script>
    </body>
</html>